@charset "UTF-8";

/* Adjusting Bootstrap + New Root Stylings------------------------------------------- */
/* CSS Variables */
:root {
  --container-max-width: 1600px;
  --main-nav-height: 60px;
  --other-nav-height: 56px;
  --info-green: #0AC18E;
  --info-blue: #23A6D5;
  --transition-ease: all 0.4s ease-in-out;
  --orange-gradient-light: linear-gradient(135deg, rgba(100, 100, 100, 0.4) 0%, rgba(100, 100, 100, 0.4) 100%);
  --orange-gradient-dark: linear-gradient(135deg, rgba(240, 197, 79, 0) 0%, rgba(232, 150, 62, 0) 100%);
  --orange-gradient-light-hover: linear-gradient(135deg, rgba(210, 175, 70, 0.5) 0%, rgba(200, 130, 52, 0.5) 100%);
  --orange-gradient-dark-hover: linear-gradient(135deg, rgba(240, 197, 79, 0.4) 0%, rgba(232, 150, 62, 0.4) 100%);
  --green-blue-gradient: linear-gradient(to bottom right, #0AC18E, #23A6D5);
  --green-blue-gradient-transparent-light: linear-gradient(to bottom right, #0AC18EFF, #23A6D5FF);
  --green-blue-gradient-transparent-dark: linear-gradient(to bottom right, #0AC18ECC, #23A6D5CC);
  --green-blue-gradient-animation: linear-gradient(-45deg, #0AC18E, #23A6D5, #0AC18E);
}


/* Scroll Adjustments */
[id^='_'] { scroll-margin-top: var(--main-nav-height); }
[id^='upgrade'] { scroll-margin-top: 100px; }


/* Typography */
:root {
  --bs-font-sans-serif: "Ubuntu", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}

.fs-5r { font-size: calc(1rem + 0.2vw) !important; }
.fs-7 { font-size: 0.7rem !important; }


/* Custom Tooltips */
.informational-tooltip .tooltip-inner {
  background-color: var(--bs-info-bg-subtle) !important;
  color: var(--bs-info-text-emphasis) !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
.primary-tooltip .tooltip-inner {
  background-color: var(--bs-primary-bg-subtle) !important;
  color: var(--bs-primary-text-emphasis) !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
.success-tooltip .tooltip-inner {
  background-color: var(--bs-success-bg-subtle) !important;
  color: var(--bs-success-text-emphasis) !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

/* Adding extension of container class to go wider */
@media (min-width:1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1350px !important;
        padding-left: 2em;
        padding-right: 2em;
    }
}
@media (min-width:1600px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1450px !important;
        padding-left: 2em;
        padding-right: 2em;
    }
}
@media (min-width:1800px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1500px !important;
        padding-left: 2em;
        padding-right: 2em;
    }
}
@media (min-width:2000px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: var(--container-max-width) !important;
        padding-left: 2em;
        padding-right: 2em;
    }
}


/* Hyperlinks */
/* Light mode override to give better contrast */
[data-bs-theme="light"] .link-info,
[data-bs-theme="light"] .text-info {
  color: var(--bs-primary) !important;
}
/* Thinner link underlines */
.thin-link-1 { text-decoration-thickness: 1px; }

/* Apply blackout overrides when data-blackout="true" and data-bs-theme="dark" */
[data-bs-theme="dark"][data-blackout="true"] {
    --bs-body-bg: #000;
    --bs-body-bg-rgb: 0, 0, 0;
    --bs-dark-bg-subtle: #000;
    --bs-dark-bg-subtle-rgb: 0, 0, 0;
}

/* Smooth transition for theme changes */
/*body { |||REMOVED -- in dark mode site starts in white and transitions to black on reload -- looks weird|||
    transition: background-color 0.4s ease-in-out;
}*/

/* Adding custom info background gradients */
:root,
[data-bs-theme="light"] {
    --bs-info-gradient: linear-gradient(
        -45deg,
        var(--info-green),  /* #0AC18E */
        var(--info-blue),   /* #23A6D5 */
        var(--info-green)
    );
    --bs-info-subtle-gradient: linear-gradient(
        -45deg,
        #0AC18E26,  /* 15% opacity (~26 in hex) */
        #23A6D526,  /* 15% opacity */
        #0AC18E26
    );
}

/* Dark mode gradients (unchanged, now using defined vars) */
[data-bs-theme="dark"] {
    --bs-info-gradient: linear-gradient(
        -45deg,
        var(--info-green),
        var(--info-blue),
        var(--info-green)
    );
    --bs-info-subtle-gradient: linear-gradient(
        -45deg,
        #0AC18E73,  /* 45% opacity */
        #23A6D573,  /* 45% opacity */
        #0AC18E73
    );
}

/* Apply the animation to the gradient classes */
.bg-info {
    background: var(--bs-info-gradient);
    background-color: transparent !important;
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    backdrop-filter: saturate(180%) blur(10px); /* Glass effect */
    z-index: 0; /* Enforcing position to ensure it stays above animation */
}

.bg-info-subtle {
    background: var(--bs-info-subtle-gradient);
    background-color: transparent !important;
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    backdrop-filter: saturate(180%) blur(10px); /* Glass effect */
    z-index: 0; /* Enforcing position to ensure it stays above animation */
}

.bch-green {
    color: var(--info-green);
}
.bg-bch-green {
    background-color: var(--info-green);
}


/* General HTML settings/fixes ------------------------------------------- */
/* Prevent Horizontal Overflow */
html, head, body {
  max-width: 100%;
  overflow-x: hidden;
}

.icon-green {
    color: var(--info-green);
}

.btn-bch {
--bs-btn-color: #fff;
--bs-btn-bg: var(--info-green);
--bs-btn-border-color: var(--info-green);
--bs-btn-hover-color: #fff;
--bs-btn-hover-bg: #08A77A;
--bs-btn-hover-border-color: #079C71;
--bs-btn-focus-shadow-rgb: 10,193,142;
--bs-btn-active-color: #fff;
--bs-btn-active-bg: #079C71;
--bs-btn-active-border-color: #069168;
--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
--bs-btn-disabled-color: #fff;
--bs-btn-disabled-bg: var(--info-green);
--bs-btn-disabled-border-color: var(--info-green);
}

/* Icon Gradients */
.icon-gradient {
    background: var(--green-blue-gradient-animation);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    background-clip: text;
    color: transparent;
}

/* Animations */
@keyframes gradient {
    0% {
        background-position: 0% 33%;
    }
    35% {
        background-position: 100% 66%;
    }
    65% {
        background-position: 100% 66%;
    }
    100% {
        background-position: 0% 33%;
    }
}

/* Buttons ------------------------------------------- */
/* Back to Top */
#btn-back-to-top {
    display: none;
    z-index: 100;
}

/* Social Buttons */
.social {
    position: fixed;
    top: 80px;
    right: 0;
    padding-top: 20px;
    z-index: 2;
    transition: all 0.4s ease;
}
@media (max-width: 1199px) {
    .social {
        display: none;
    }
}

/* Controls (Particles and Theme) */
.controls {
    position: fixed;
    top: 80px;
    left: 0;
    padding-top: 20px;
    z-index: 2;
    transition: all 0.4s ease;
}

/* Theme Button */
.theme-switcher .dropdown-item.active {
    background-color: var(--bs-success-bg-subtle);
    color: var(--bs-success-text-emphasis);
}
.theme-switcher .dropdown-toggle::after {
    vertical-align: 0.25em;
}
.theme-switcher .dropdown-menu {
    right: 0;
}
.theme-switcher .dropdown-item i {
    margin-right: 0.5rem;
}

/* Theme-Sensitive Button Styling */
[data-bs-theme="light"] .theme-sensitive {
    color: var(--bs-white);
    background-color: var(--bs-success);
}
[data-bs-theme="light"] .theme-sensitive:hover {
    background-color: var(--bs-success);
    filter: brightness(90%);
}
[data-bs-theme="dark"] .theme-sensitive {
    color: var(--bs-success-text-emphasis);
    background-color: var(--bs-success-bg-subtle);
    border: 1px solid var(--bs-success-border-subtle);
}
[data-bs-theme="dark"] .theme-sensitive:hover {
    background-color: var(--bs-success-bg-subtle);
    filter: brightness(90%);
}

/* ParticlesJS Homepage div ------------------------------------------- */
#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

/* Glass Elements ------------------------------------------- */
/* Glass Soft */
.glass-soft {
    background: rgba(255,255,255,0.05);
    border-radius: 16px;
    backdrop-filter: saturate(180%) blur(10px);
}
html[data-bs-theme="dark"] .glass-soft {
    backdrop-filter: blur(10px);
}
html[data-bs-theme="dark"][data-blackout="true"] .glass-soft {
    background: rgba(0,0,0,0.05);
}
/* Glass Hard */
.glass-hard {
    background: rgba(255,255,255,0.65);
    border-radius: 16px;
    backdrop-filter: saturate(180%) blur(10px);
}
html[data-bs-theme="dark"] .glass-hard {
    backdrop-filter: blur(10px);
    background: rgba(0,0,0,0.20);
}
html[data-bs-theme="dark"][data-blackout="true"] .glass-hard {
    background: rgba(0,0,0,0.65);
}
/* Glass White */
.glass-white {
    background: rgba(255, 255, 255, 0.07);
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    backdrop-filter: saturate(180%) blur(10px);
}
html[data-bs-theme="dark"] .glass-white {
    backdrop-filter: blur(10px);
}
html[data-bs-theme="dark"][data-blackout="true"] .glass-white {
    background: rgba(255, 255, 255, 0.3);
}
/* Green Glass
html[data-bs-theme="dark"][data-blackout="true"] .glass-white {
    background: rgba(10, 193, 142, 0.07);
    box-shadow: 0 4px 30px rgba(10, 193, 142, 0.1);
    border: 1px solid rgba(10, 193, 142, 0.05);
} */
/* Glass White Soft */
.glass-white-soft {
    backdrop-filter: blur(5px);
}
html[data-bs-theme="dark"] .glass-white-soft {
}
/* Black Glass */
html[data-bs-theme="dark"][data-blackout="true"] .glass-white-soft {
    background: rgba(0,0,0,0.05);
}
/* Glass Warning */
.glass-warning {
    background: rgba(255, 218, 106, 0.45);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(255, 218, 106, 0.2);
    backdrop-filter: saturate(180%) blur(10px);
    border: 1px solid rgba(255, 218, 106, 0.12);
}
html[data-bs-theme="dark"] .glass-warning {
    background: rgba(255, 218, 106, 0.15);
}
html[data-bs-theme="dark"][data-blackout="true"] .glass-warning {
    background: rgba(255, 218, 106, 0.1);
}
/* Glass Gradient */
.glass-gradient::before {
    background: var(--bs-body-bg);
    position: absolute;
}
.glass-gradient {
    background: var(--green-blue-gradient-transparent-light);
    background-size: 200% 200%;
    animation: gradient 15s ease infinite;
    border-radius: 12px;
    box-shadow: 0 4px 30px rgba(10, 193, 142, 0.2);
    backdrop-filter: saturate(180%) blur(10px);
    border: 1px solid rgba(255, 218, 106, 0.2);
    color: #fff !important;
}
html[data-bs-theme="dark"] .glass-gradient {
    background: var(--green-blue-gradient-transparent-dark);
    background-size: 200% 200%;
    animation: gradient 8s ease infinite;
}
html[data-bs-theme="dark"][data-blackout="true"] .glass-gradient {

}


/* General (non-Homepage) Navbar ------------------------------------------- */
.navbar-bch-glow {
    box-shadow: 0px 1px 2px rgba(10,193,142,0.5), 
      0px 2px 4px rgba(10,193,142,0.5), 
      0px 4px 8px rgba(10,193,142,0.5), 
      0px 6px 16px rgba(10,193,142,0.5);
}
.fixed-nav-adjustment {
    padding-top: var(--other-nav-height);
}


/* Custom Homepage Navbar ------------------------------------------- */
.custom_nav {
    position: fixed;
    width: 100%;
    z-index: 1;
    padding: 20px 0;
    height: auto;
    background-color: transparent;
    transition: all 0.4s ease;
}

.custom_nav::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: all 0.4s ease;
}

/* Apply backdrop filter when hamburger menu is triggered (non-affix state) */
.custom_nav:not(.affix).has-collapse-show::before {
    background-color: rgba(255,255,255,0.5);
    backdrop-filter: saturate(180%) blur(20px);
}
html[data-bs-theme="dark"] .custom_nav:not(.affix).has-collapse-show::before {
    background-color: rgba(33,37,41,0.5);
}
html[data-bs-theme="dark"][data-blackout="true"] .custom_nav:not(.affix).has-collapse-show::before {
    background-color: rgba(0,0,0,0.5);
}

/* Affix state */
.custom_nav.affix::before {
    background-color: rgba(255,255,255,0.5);
    backdrop-filter: saturate(180%) blur(20px);
}
html[data-bs-theme="dark"] .custom_nav.affix::before {
    background-color: rgba(33,37,41,0.5);
}
html[data-bs-theme="dark"][data-blackout="true"] .custom_nav.affix::before {
    background-color: rgba(0,0,0,0.5);
}

.custom_nav.affix {
    height: 60px;
    padding: 0;
    box-shadow: 0 1px 2px rgba(10,193,142,0.3),
                0 2px 4px rgba(10,193,142,0.2);
}

.custom_nav .navbar-brand {
    padding-left: 1.5rem;
    color: #fff;
    text-decoration: none;
    transition: color 0.4s ease-in-out;
    white-space: nowrap;
}

.custom_nav .navbar-brand:hover {
    color: #0AC18E;
}

.custom_nav .nav-link {
    color: #fff;
    text-decoration: none;
    transition: color 0.4s ease-in-out;
    padding-right: 0.5rem !important;
    padding-left: 0.5rem !important;
    white-space: nowrap;
}

.custom_nav .nav-link:hover {
    color: #0AC18E;
}

.affix-text-color {
    color: var(--bs-body-color) !important;
}

/* Hamburger Menu */
.navTrigger.navbar-toggler {
    border: none;
    margin-right: 1.5rem;
    width: 30px;
    height: 25px;
    position: relative;
}

.navTrigger.navbar-toggler:focus {
    box-shadow: none;
}

.navTrigger i {
    background-color: #fff;
    border-radius: 2px;
    display: block;
    width: 100%;
    height: 4px;
    position: absolute;
}
.navTrigger i:nth-child(1) { top: 0; }
.navTrigger i:nth-child(2) { top: 10px; }
.navTrigger i:nth-child(3) { top: 20px; }

.navTrigger i {
    animation: outT 0.8s backwards reverse;
}
.navTrigger i:nth-child(2) { animation-name: outM; }
.navTrigger i:nth-child(3) { animation-name: outBtm; }
.navTrigger.active i { animation: inT 0.8s forwards; }
.navTrigger.active i:nth-child(2) { animation-name: inM; }
.navTrigger.active i:nth-child(3) { animation-name: inBtm; }

@keyframes inM {
    50% { transform: rotate(0deg); }
    100% { transform: rotate(45deg); }
}
@keyframes inT {
    0% { transform: translateY(0) rotate(0deg); }
    50% { transform: translateY(10px) rotate(0deg); }
    100% { transform: translateY(10px) rotate(135deg); }
}
@keyframes inBtm {
    0% { transform: translateY(0) rotate(0deg); }
    50% { transform: translateY(-10px) rotate(0deg); }
    100% { transform: translateY(-10px) rotate(135deg); }
}
@keyframes outM {
    50% { transform: rotate(0deg); }
    100% { transform: rotate(45deg); }
}
@keyframes outT {
    0% { transform: translateY(0) rotate(0deg); }
    50% { transform: translateY(10px) rotate(0deg); }
    100% { transform: translateY(10px) rotate(135deg); }
}
@keyframes outBtm {
    0% { transform: translateY(0) rotate(0deg); }
    50% { transform: translateY(-10px) rotate(0deg); }
    100% { transform: translateY(-10px) rotate(135deg); }
}

.affix-bars-color i {
    background-color: var(--bs-body-color) !important;
}

/* Ensure Navbar Stays Inline and Right-Justified */
.custom_nav .container-fluid {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.custom_nav .navbar-collapse {
    justify-content: flex-end;
    position: relative;
}

/* Mobile Navbar Collapse */
@media screen and (max-width: 1199px) {
    .custom_nav .navbar-collapse.show,
    .custom_nav .navbar-collapse.collapsing {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        box-shadow: none;
        background-color: transparent; /* Remove separate filter */
    }
    /* Extend navbar's ::before to cover full page height when hamburger is triggered */
    .custom_nav.has-collapse-show::before {
        height: 100vh;
    }
    @supports (height: 100dvh) {
        .custom_nav.has-collapse-show::before {
            height: 100dvh;
        }
    }
    .custom_nav .nav-link {
        text-align: right;
    }
}


/* UNUSED -- BCH Price Widget ------------------------------------------- */
.livecoinwatch-widget-wrapper {
    z-index: 100;
    transform: scale(0.8);
    transform-origin: bottom left; /* Keeps it anchored to bottom-left */
}

/* Optional: Adjusting wrapper size for responsiveness */
@media (max-width: 576px) {
    .livecoinwatch-widget-wrapper {
        transform: scale(0.6);
    }
}


/* Copy Button for Footer ------------------------------------------- */
.remove-button-stylings {
  background-color: transparent;
  border: none;
  padding: 0;
}


/* Home Section ------------------------------------------- */
.home {
    width: 100vw;
    height: 100vh;
    background: url('../images/homepageBackground.svg?v=3') center bottom / cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
/* [data-bs-theme="light"] .home {
    background: url('../images/homepageBackground-light.svg?v=2') center bottom / cover;
} */

@supports (height: 100dvh) {
    .home {
        height: 100dvh;
    }
}

.home-text {
    color: #fff;
    filter: drop-shadow(2px 2px 8px rgba(0, 0, 0, 0.7));
}

.home-img {
    max-width: 900px;
    width: 100%;
    height: auto;
    filter: drop-shadow(2px 2px 8px rgba(0, 0, 0, 0.7));
}

@media (max-width: 1150px) {
    .home-img {
        max-width: 85%;
    }
}

@media (max-width: 650px) {
    .home-img {
        max-width: 90%;
    }
}

.custom-alert-title {
    padding: 0 1.25rem;
    display: block;
}

.twitter_profile_image {
    padding: 1rem;
    border-radius: 50%;
    transition: all .3s ease-in-out;
}

.twitter_profile_image:hover {
    padding: 1.25rem;
    filter: brightness(80%);
}

.fork-map-header {
    padding: 0 4rem 2rem;
}

.card-image-standard,
.card-image-standard-no-circle-mobile {
    height: 10rem;
    object-fit: contain;
    clip-path: circle();
}

.card-image-standard-no-circle-desktop {
    height: 10rem;
}

.card-image-standard-no-circle-mobile {
    display: none;
}

@media (max-width: 992px) {
    .card-image-standard-no-circle-desktop {
        display: none;
    }
    .card-image-standard-no-circle-mobile {
        display: inline;
    }
}

@media (max-width: 768px) {
    .card-image-standard,
    .card-image-standard-no-circle-mobile {
        height: 6rem;
    }
}

@media (max-width: 480px) {
    .card-image-standard,
    .card-image-standard-no-circle-mobile {
        height: 4rem;
    }
    .card-body-socials {
        padding: var(--bs-card-spacer-y) 0 !important;
    }
}

.card-image-standard-md {
    height: 8rem;
    object-fit: contain;
    clip-path: circle();
}

@media (max-width: 768px) {
    .card-image-standard-md {
        height: 6rem;
    }
}

@media (max-width: 480px) {
    .card-image-standard-md {
        height: 4rem;
    }
}

.possible-card-body {
    z-index: 2;
}


/* Network Upgrades Page ------------------------------------------- */
.upgrade-icon-large {
    margin-left: -11em;
    position: absolute;
    max-width: 7em;
    max-height: 9em;
}
.upgrade-icon-small {
    margin-left: -8em;
    position: absolute;
    max-width: 4em;
    max-height: 5em;
}

ul.upgrade-bullets {
  list-style-type: none;
}

ul.upgrade-bullets > li::before {
  content: "– ";
}
.bch-split-logo {
    max-width:20em;
}

.timeline-main {
    padding-left: 3em !important;
    padding-right: 3em !important;
}

#sharedHistory.timeline {
  box-shadow:
  -4px 0 0 0 #0AC18E,
  -8px 0 0 0 #F7931A;
  /*border-left: 4px solid #0AC18E;*/
  position: relative;
  list-style: none;
  margin-left: 7em;
  padding-bottom: 1.5em;
}

#splitHistory.timeline {
  margin-top:-1.5em;
  left:-8px;
  border-left: 8px solid #0AC18E;
  position: relative;
  list-style: none;
  margin-left: 7em;
  padding-bottom: 1em;
}

#lockedIn.timeline {
  margin-top:-1.5em;
  left:-8px;
  border-left: 8px dashed #0AC18E;
  position: relative;
  list-style: none;
  margin-left: 7em;
  padding-bottom: 1em;
}

#future.timeline {
  margin-top:-1.5em;
  left:-8px;
  border-left: 8px dashed var(--bs-gray-700);
  position: relative;
  list-style: none;
  margin-left: 7em;
  padding-bottom: 1em;
}

.timeline .timeline-item {
  position: relative;
  top:-2px;
}

.timeline .timeline-item:after {
  position: absolute;
  display: block;
  top: 0;
}

/*Timeline Box*/
.timeline .timeline-item:after {
  background-color: #fff;
  border: 4px solid var(--bs-gray-700);
  left: -48px;
  height: 24px;
  width: 24px;
  content: "";
}
.bug-item:after {
  border: 4px solid var(--bs-warning) !important;
}
.bug-item-red:after {
  border: 4px solid var(--bs-danger) !important;
}
#softFork.timeline-item:after {
    border-radius: 50%;
}
#hardFork.timeline-item:after {
    border-radius: 20%;
}
#otherChange.timeline-item:after {
    height: 0 !important;
    position: absolute;
    top:15px;
}
#final.timeline-item:after {
    background-color: var(--bs-body-bg);
    border: solid var(--bs-gray-700);
    border-width: 0 8px 8px 0;
    padding: 3px;
    transform: rotate(45deg);
}

.bcr-button {
    position: relative; /* For pseudo-element */
    background: var(--orange-gradient-dark) !important;
    overflow: hidden; /* Contain pseudo-element */
}
[data-bs-theme="light"] .bcr-button {
    background: var(--orange-gradient-light) !important;
}
.bcr-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--orange-gradient-dark-hover); /* Default hover state */
    opacity: 0;
    transition: opacity 0.4s ease-in-out !important; /* Animate opacity */
    z-index: 1; /* Above background, below content */
}
.bcr-button:hover {
    background: var(--orange-gradient-dark-hover) !important;
}
[data-bs-theme="light"] .bcr-button:hover {
    background: var(--orange-gradient-light-hover) !important;
}
.bcr-button:hover::before {
    opacity: 1; /* Fade in on hover */
}
/* Ensure content stays above */
.bcr-button img {
    position: relative;
    z-index: 2;
}

/*SMALLER SCREENS TIMELINE CHANGES*/
@media screen and (max-width:576px) {
    .timeline-main {
        padding-left: 0 !important;
        padding-right: 1em !important;
    }

    .upgrade-icon-large {
        margin-left: -7em;
        position: absolute;
        max-width: 3em;
    }
    .upgrade-icon-small {
        margin-left: -7em;
        position: absolute;
        max-width: 3em;
    }
}

/* Timeline Legend */
.legend-container {
    top: 330px;
}
@media (max-width: 768px) { /* Bootstrap medium */
    .legend-container {
        top:400px;
    }
}
.legend-tab {
    width: 40px; /* Fixed width for tab */
    background-color: var(--bs-body-bg);
}

.legend-text {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    cursor: pointer;
}

.legend-content {
    width: 235px; /* Fixed width for content */
    background-color: var(--bs-body-bg);
    padding-left: 40px;
}

.timeline-legend .timeline-legend-item {
  position: relative;

}
.timeline-legend .timeline-legend-item:after {
  position: absolute;
  display: block;
  top: 0;
}
.timeline-legend .timeline-legend-item:after {
  background-color: #fff;
  border: 4px solid var(--bs-gray-700);
  left: -34px;
  height: 24px;
  width: 24px;
  content: "";
  margin-top: 1px;
}
#softFork.timeline-legend-item:after {
    border-radius: 50%;
}
#hardFork.timeline-legend-item:after {
    border-radius: 20%;
}
#otherChange.timeline-legend-item:after {
    height: 0 !important;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}


/* Ecosystem Page ------------------------------------------- */
.card-img-standard {
    height:6rem;
    min-height: 1px; /* This fixes odd Safari issue where "0x0 pixels (natural: 500 x 500 pixels)" causes the image to show up as 0x0" */
    object-fit: contain;
}
.card-img-medium {
    height:4.5rem;
    min-height: 1px; /* This fixes odd Safari issue where "0x0 pixels (natural: 500 x 500 pixels)" causes the image to show up as 0x0" */
    object-fit: contain;
}
.card-img-small {
    height:3rem;
    min-height: 1px; /* This fixes odd Safari issue where "0x0 pixels (natural: 500 x 500 pixels)" causes the image to show up as 0x0" */
    object-fit: contain;
}
.card-bg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    object-fit: cover;
    z-index: 1;
    opacity: 0.4;
    filter: blur(5px); /* Blurs the image itself */
    transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out, z-index 0s; /* Smooth opacity and transform */
    transform: scale(1); /* Default scale */
}
html[data-bs-theme="dark"] .card-bg-img {
    opacity: 0.2;
}
.possible-card:hover .card-bg-img {
    z-index: 3;
    opacity: 1;
    filter: blur(0px); /* Blurs the image itself */
    transform: scale(1.02); /* Subtle zoom for smoothness */
}

.EcoStart {
    flex: 0 0 auto !important;
    width: 20% !important;
}
.EcoStartImg {
    max-width: min(50vw,600px);
}
.ecosystemCircle {
    border-radius: 50%;
}
.ecosystemRound {
    border-radius: 10%;
}

/* Resources */
.brand-circle {
    width: 6em;
    height: 6em;
    border-radius: 50%;
    display: block;
    border: 1px solid #ddd;
    margin-bottom: 1em;
    object-fit:contain;
}

.grid {
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
}

.grid-item {
    margin-bottom: 20px;
    break-inside: avoid;
    width: calc(50%);
    cursor: pointer;
    padding: 10px;
}

.grid-item img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 0;
    transition: transform 0.4s ease;
}

.grid-item img:hover {
    transform: scale(1.05);
}

.loading {
    text-align: center;
    padding: 20px;
}

.section {
    margin-bottom: 40px;
}

@media (min-width: 768px) { /* Bootstrap medium */
    .grid-item { width: calc(33.33%);}
}

@media (min-width: 992px) { /* Bootstrap large */
    .grid-item { width: calc(25%); }
}

@media (min-width: 1200px) { /* Bootstrap extra large */
    .grid-item { width: calc(20%); }
}

/* Carousel styling */
.carousel-inner {
    height: 70vh;
}

.carousel-item {
    height: 100%;
    text-align: center;
}

.carousel-item img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.carousel-indicators {
    position: relative;
    bottom: 0;
    margin-top: 10px;
}

[data-bs-theme="light"] .carousel .carousel-indicators [data-bs-target] {
    background-color: #6c757d !important;
    opacity: 0.5 !important;
}

[data-bs-theme="light"] .carousel .carousel-indicators .active[data-bs-target] {
    background-color: #6c757d !important;
    opacity: 1 !important;
}

[data-bs-theme="dark"] .carousel .carousel-indicators [data-bs-target] {
    background-color: #adb5bd !important;
    opacity: 0.5 !important;
}

[data-bs-theme="dark"] .carousel .carousel-indicators .active[data-bs-target] {
    background-color: #adb5bd !important;
    opacity: 1 !important;
}

[data-bs-theme="light"] .carousel .carousel-control-prev-icon,
[data-bs-theme="light"] .carousel .carousel-control-next-icon {
    filter: invert(80%) sepia(10%) saturate(300%) hue-rotate(180deg) !important;
}

[data-bs-theme="dark"] .carousel .carousel-control-prev-icon,
[data-bs-theme="dark"] .carousel .carousel-control-next-icon {
    filter: invert(50%) sepia(10%) saturate(200%) hue-rotate(180deg) !important;
}

/* Download icon styling */
.carousel-download-icon {
    font-size: 1.5rem; /* Larger icon */
}

/* Minecraft Page ------------------------------------------- */
.mcHome {
    min-height: 40vh;
    background-image: url('../images/mcbackgroundimage.png');
    background-position: center top;
    background-size:cover;
    display: flex;
}

.mcPageHeaderText {
    font-size:2.25em;
}

.mcPageBody {
    font-size: 1.25em;
}

.mcServerIconNew {
    width: 128px;
}

@media screen and (max-width:625px) {
    .mcServerStatusInfo {
        text-align: center;
    }
}

.mcAffix {
    padding: 0;
    background-color: rgba(30,30,30,0.5);
    backdrop-filter: saturate(180%) blur(20px);
    border-radius: 10px;
}

.mcArticleTitle {
    font-color: $indigo;
    font-size:2.5rem;
}

.mcArticle {
    background-color: rgba(100,100,100,0.5);
}


/* Custom FontAwesome Icons ------------------------------------------- */
@font-face {
  font-family: 'FontAwesomeCustom';
  src: url('../specificFontAwesome/custom-fa-solid.woff2') format('woff2'),
       url('../specificFontAwesome/custom-fa-solid.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.fa-solid {
  display: inline-block;
  font-family: 'FontAwesomeCustom';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}

/* Icon definitions */
.fa-money-bill:before { content: "\f0d6"; }
.fa-seedling:before { content: "\f4d8"; }
.fa-key:before { content: "\f084"; }
.fa-user-secret:before { content: "\f21b"; }
.fa-comments-dollar:before { content: "\f653"; }
.fa-lightbulb:before { content: "\f0eb"; }
.fa-cash-register:before { content: "\f788"; }

/* Size classes from fa-1x to fa-10x */
.fa-1x { font-size: 1em; }
.fa-2x { font-size: 2em; }
.fa-3x { font-size: 3em; }
.fa-4x { font-size: 4em; }
.fa-5x { font-size: 5em; }
.fa-6x { font-size: 6em; }
.fa-7x { font-size: 7em; }
.fa-8x { font-size: 8em; }
.fa-9x { font-size: 9em; }
.fa-10x { font-size: 10em; }