@charset "UTF-8";

/*
html, body {
    margin: 0;
    display: block;
    height: 100%;
}
*/

html, head, body {
    max-width: 100%;
    overflow-x: hidden;
}

/* Define a custom darker background color for dark mode */
:root {
    --bs-body-bg: #0c0c0c; /* Very dark background for dark mode */
    /*--bs-body-color: #eee;*/ /* Light text color for visibility */
    --bs-dark-text-emphasis: #68737d;
}

/* Ensure these styles only apply when the dark theme is active */
@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--bs-body-bg);
        /*color: var(--bs-body-color);*/
        color: var(--bs-dark-text-emphasis);
    }
}

/* For users who might have set OS dark mode but not the data-bs-theme */
@media (prefers-color-scheme: dark) {
    html:not([data-bs-theme="light"]) {
        --bs-body-bg: #0c0c0c;
        /*--bs-body-color: #eee;*/
        --bs-dark-text-emphasis: #68737d;
    }
}

/* Navbar section */

.theme-switcher .dropdown-toggle::after {
  vertical-align: 0.25em;
}

.theme-switcher .dropdown-toggle i {
  font-size: 1.25em;
  line-height: 1;
}

.theme-switcher .dropdown-menu {
  right: 0;
  left: auto;
}

.theme-switcher .dropdown-item i {
  margin-right: 0.5rem;
}

/* Active theme indicator */
.theme-switcher .dropdown-item.active {
  background-color: var(--bs-secondary-bg); /* Assuming secondary background color for active state */
  color: var(--bs-secondary-color); /* Assuming secondary text color for active state */
}

.custom_nav {
    width: 100%;
    height: 65px;
    position: fixed;
    line-height: 65px;
    text-align: center;
    z-index: 1;
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.custom_nav div.logo {
    float: left;
    width: auto;
    height: auto;
    padding-left: 3rem;
}

.custom_nav div.logo a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

.custom_nav div.logo a:hover {
    color: #00E676;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out; /** Chrome & Safari **/
    -moz-transition: all 0.3s ease-in-out; /** Firefox **/
    -o-transition: all 0.3s ease-in-out; /** Opera **/
}

.custom_nav div.main_list {
    height: 65px;
    float: right;
}

.custom_nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.custom_nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 1.5rem;
}

.custom_nav div.main_list ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 65px;
    font-weight: 500;
}

.custom_nav div.main_list ul li a:hover {
    color: #0AC18E;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out; /** Chrome & Safari **/
    -moz-transition: all 0.3s ease-in-out; /** Firefox **/
    -o-transition: all 0.3s ease-in-out; /** Opera **/
}

/* Nav Items Fixing Scroll Distance */
[id^='_'] {
  scroll-margin-top: 65px;
}

/* Social Float Buttons */

.social {
    z-index: 2;
    position: fixed;
    top: 100px;
    right:0;
}

.social ul {
  padding: 0px;
}

.social ul li {
    margin: 0.25em;
    display: block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.social ul li i {
  color: #fff;
  font-size:1.5rem;
}

/* Theme Float Button */

.theme {
  z-index: 2;
  position: fixed;
  top: 80px;
  left:0;
}


/* Home section */

.home {
    width: 100%;
    height: 100vh;
    background-image: url('../images/FallingStarBackground_upscaled.jpg');
    background-position: center bottom;
    background-size:cover;
    display: flex;
    justify-content: center; /* Align horizontal */
    align-items: flex-end; /* Align bottom */
}

.home-text {
  color:#fff;
  text-align: center;
  padding-bottom: 3.5em;
  font-size:2.75em;
  position: absolute;
  max-width: 800px;
}

.home-img {
  /*max-width: min(calc(10% + 600px),1200px);*/
  max-width: 700px;
  position: absolute;
  padding-bottom: 4em;
}

@media screen and (max-width:768px) {
    .home-img {
        max-width: 90%;
    }
    .home-text {
        font-size: 2.25em;
    }
}

.white-text {
    color: white;
}

.twitter_highlight {
    background-color: #0AC18E;
}

.twitter_profile_image {
    padding: 1rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -o-transition:all .3s ease-in-out allow-discrete;
    -ms-transition:all .3s ease-in-out allow-discrete;
    -moz-transition:all .3s ease-in-out allow-discrete;
    -webkit-transition:all .3s ease-in-out allow-discrete;
    transition: all .3s ease-in-out allow-discrete;
}

.twitter_profile_image:hover {
    padding: 1.25rem;
    filter: brightness(80%);
    -o-transition:all .3s ease-in-out allow-discrete;
    -ms-transition:all .3s ease-in-out allow-discrete;
    -moz-transition:all .3s ease-in-out allow-discrete;
    -webkit-transition:all .3s ease-in-out allow-discrete;
    transition: all .3s ease-in-out allow-discrete;
}

.twitter-link {
    /*padding: 0.25em; */
}

.P2P_Title {
    font-size:2.25em;
}

.navTrigger {
    display: none;
}

.fork-map-header {
    padding-right:4rem;
    padding-left:4rem;
    padding-bottom:2rem;
}

.card-text {
    font-size:1rem;
}

.card-image-standard {
    height:10rem;
    object-fit: contain;
    clip-path: circle();
}


/* FOOTER */
footer {
  padding: 1.5em;
  background-color: #0AC18E;
  color: white;
  text-align: center;
}

footer a {
  color: white;
}

footer a:hover{
  color: #A5ACBF;
  text-decoration: none;
}

/*Copy Button*/

.copyButton:hover {
    opacity:0.8;
}

.remove-button-stylings {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  text-align: inherit;
  font: inherit;
  border-radius: 0;
  appearance: none; /*Just in case we missed anything*/
}

.custom-tooltip {
  display: inline-block;
  position: relative;
}


/* Media qurey section */

@media screen and (min-width: 1080px) and (max-width: 1800px) {
    .nav_container {
        margin: 0;
    }
}

@media screen and (max-width:1160px) {
    .navTrigger {
        display: inline-block;
    }
    .custom_nav {
        z-index: 3;
    }
    .custom_nav div.logo {
        margin-left: 15px;
    }
    .custom_nav div.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    .custom_nav div.show_list {
        height: auto;
        display: none;
    }
    .custom_nav div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: rgba(30,30,30,0.5);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        /*same background color of navbar*/
        background-position: center top;
    }
    .custom_nav div.main_list ul li {
        width: 100%;
        text-align: right;
    }
    .custom_nav div.main_list ul li a {
        text-align: center;
        width: 100%;
        padding: 20px;
    }
    .custom_nav div.media_button {
        display: block;
    }

}


/* Animation */
/* Inspiration taken from Dicson https://codemyui.com/simple-hamburger-menu-x-mark-animation/ */

.navTrigger {
    cursor: pointer;
    width: 30px;
    margin: auto;
    position: absolute;
    right: 30px;
    margin-top:1.3rem;
}

.navTrigger i {
    background-color: #fff;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
}

.navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

.affix {
    padding: 0;
    background-color: rgba(30,30,30,0.5);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}




/* UPGRADE HISTORY */
.upgrade-history {

}

.upgrade-icon-large {
    margin-left: -8.5em;
    position: absolute;
    max-width: 5.5em;
    max-height: 7.5em;
}
.upgrade-icon-small {
    margin-left: -6em;
    position: absolute;
    max-width: 3em;
    max-height: 3.5em;
}

ul.upgrade-bullets {
  list-style-type: none;
}

ul.upgrade-bullets > li::before {
  content: "– ";
}
.bch-split-logo {
    max-width:20em;
}

.timeline-main {
    padding-left: 3em !important;
    padding-right: 3em !important;
}

#sharedHistory.timeline {
  box-shadow:
  -4px 0 0 0 #0AC18E,
  -8px 0 0 0 #F7931A;
  -webkit-shadow:
  -4px 0 0 0 #0AC18E,
  -8px 0 0 0 #F7931A;
  -moz-box-shadow:
  -4px 0 0 0 #0AC18E,
  -8px 0 0 0 #F7931A;
  /*border-left: 4px solid #0AC18E;*/
  position: relative;
  list-style: none;
  margin-left: 5em;
  padding-bottom: 1.5em;
}

#splitHistory.timeline {
  margin-top:-1.5em;
  left:-8px;
  border-left: 8px solid #0AC18E;
  position: relative;
  list-style: none;
  margin-left: 5em;
  padding-bottom: 1em;
}

#lockedIn.timeline {
  margin-top:-1.5em;
  left:-8px;
  border-left: 8px dashed #0AC18E;
  position: relative;
  list-style: none;
  margin-left: 5em;
  padding-bottom: 1em;
}

#future.timeline {
  margin-top:-1.5em;
  left:-8px;
  border-left: 8px dashed darkslategray;
  position: relative;
  list-style: none;
  margin-left: 5em;
  padding-bottom: 1em;
}

.timeline-line {

}

.timeline .timeline-item {
  position: relative;
  top:-2px;
}

.timeline .timeline-item:after {
  position: absolute;
  display: block;
  top: 0;
}

/*Timeline Box*/
.timeline .timeline-item:after {
  background-color: #fff;
  border: 4px solid darkslategray;
  left: -48px;
  height: 24px;
  width: 24px;
  content: "";
}
#softFork.timeline-item:after {
    border-radius: 50%;
}
#hardFork.timeline-item:after {
    border-radius: 20%;
}
#final.timeline-item:after {
    /*border-radius: 10%;
    margin-top:0.5em;
    height:16px;
    width:40px;
    left: -56px;*/
    background-color: var(--bs-body-bg);
    border: solid darkslategray;
    border-width: 0 8px 8px 0;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
}

.timelineTitle {
    margin-bottom:0;
}

.future-upgrade-info {
    font-size: 0.75em;
}

[data-bs-theme="light"] .btn-outline-secondary {
    background-color: var(--bs-btn-color);
    border-color: var(--bs-secondary-border);
    color: var(--bs-secondary-color);
}

/* Method to change button style based on theme -- can be applied to any css */
/*[data-bs-theme="dark"] .btn-outline-secondary {
    background-color: transparent;
    border-color: var(--bs-secondary-border);
    color: var(--bs-secondary-color);
}*/

/*.smallerText {
    font-size: 0.5em;
}*/

/*SMALLER SCREENS TIMELINE CHANGES*/
@media screen and (max-width:992px) {
    .upgrade-detail-header {
        font-size: 0.75em !important;
    }

    .small {
        font-size: 0.6em !important;
    }

}

/*SMALLER SCREENS TIMELINE CHANGES*/
@media screen and (max-width:576px) {
    .timeline-main {
        padding-left: 0 !important;
        padding-right: 1em !important;
    }

    .timelineTitle {
        font-size: 0.775em;
    }

    .timelineDate {
        font-size: 0.775em;
    }

    .upgradeInfo {
        font-size: 0.675em;
    }

    .upgrade-icon-large {
        margin-left: -5em;
        position: absolute;
        max-width: 2em;
    }
    .upgrade-icon-small {
        margin-left: -5em;
        position: absolute;
        max-width: 2em;
    }
}

/* MINECRAFT */

.mcHome {
    min-height: 40vh;
    background-image: url('../images/mcbackgroundimage.png');
    background-position: center top;
    background-size:cover;
    display: flex;
}

.mcPageHeaderText {
    font-size:2.25em;
}

.mcPageBody {
    font-size: 1.25em;
}

.mcServerIconNew {
    width: 128px;
}

@media screen and (max-width:625px) {
    .mcServerStatusInfo {
        text-align: center;
    }
}

.mcAffix {
    padding: 0;
    background-color: rgba(30,30,30,0.5);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.mcArticleTitle {
    fontolor: $indigo;
    font-size:2.5rem;

}

.mcArticle {
    background-color: rgba(100,100,100,0.5);
}

/*
#particles-js{
  width: 100%;
  height: 100%;
  background: #000;
}
*/