RewriteEngine On

# Redirect /file.html to /file (remove .html from URL)
RewriteCond %{THE_REQUEST} /([^.]+)\.html [NC]
RewriteRule ^ /%1 [NC,L,R]

# Internally map /file to /file.html if file exists
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^ %{REQUEST_URI}.html [NC,L]

# LiteSpeed no-cache for main.css and main.js
RewriteRule ^(css/main\.css|js/main\.js)$ - [E=cache-control:no-cache]

# Caching control for other files
<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresByType text/css "access plus 1 week"
    ExpiresByType image/jpeg "access plus 1 week"
    ExpiresByType image/png "access plus 1 week"
    ExpiresByType image/gif "access plus 1 week"
    ExpiresByType image/webp "access plus 1 week"
    ExpiresByType image/svg+xml "access plus 1 week"
    ExpiresByType image/bmp "access plus 1 week"
    ExpiresByType application/javascript "access plus 1 week"
    <FilesMatch "css/main.css">
        ExpiresActive Off
    </FilesMatch>
    <FilesMatch "js/main.js">
        ExpiresActive Off
    </FilesMatch>
</IfModule>

# No-cache for main.css and main.js
<IfModule mod_headers.c>
    <FilesMatch "^(css/main\.css|js/main\.js)$">
        FileETag None
        Header unset ETag
        Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
        Header set Pragma "no-cache"
        Header set Expires "Wed, 11 Jan 1984 05:00:00 GMT"
        Header set X-LiteSpeed-Cache-Control "no-cache"
    </FilesMatch>
</IfModule>