html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
:focus {
    outline: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}
input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}
audio, canvas, video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
[hidden] {
    display: none;
}
html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
a:focus {
    outline: thin dotted;
}
a:active, a:hover {
    outline: 0;
}
img {
    border: 0;
    -ms-interpolation-mode: bicubic;
}
figure {
    margin: 0;
}
form {
    margin: 0;
}
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}
legend {
    border: 0;
    padding: 0;
    white-space: normal;
    *margin-left: -7px;
}
button, input, select, textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle;
}
button, input {
    line-height: normal;
}
button, select {
    text-transform: none;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
    *overflow: visible;
}
button[disabled], html input[disabled] {
    cursor: default;
}
input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
    *height: 13px;
    *width: 13px;
}
input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
textarea {
    overflow: auto;
    vertical-align: top;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    overflow-wrap: break-word;
}
html, button, input, select, textarea {
    color: #222;
}
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}
img {
    vertical-align: middle;
}
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
textarea {
    resize: vertical;
}
.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
::-moz-selection {
    background: #F6941C;
}
::selection {
    background: #F6941C;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: #f5f5f5;
}
header {
    color: #fff;
    background-color: #1b4baf; 
    text-align:center;
    padding: 60px 0 30px;
}
main, footer {
    background-color: #fff 
}
main article{
    word-wrap: break-word;
}
main {
    padding-bottom: 64px;
}
h1, h2,h3,h4,h5,h6,p{
    line-height:1.5;
}
h1{
    font-weight: bolder;
    font-size: 32px;
    margin-bottom: 24px;
    display:inline-block;
    position:relative;
}
h1::after{
    content:'';
    height:1px;
    width:40%;
    background:rgba(255,255,255,0.6);
    position:absolute;
    margin:auto;
    bottom:-12px;
    left:0;
    right:0;
}
h2{
    font-size: 24px;
    font-weight: normal;
    width: 80%;
    margin: 0 auto;
}
h3{
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 6px;
}
p{
    margin-bottom: 14px;
}
code{
    background-color: #eeeeee;
    padding: 2px 6px;
    letter-spacing: 1.1px;
}
table {
    margin: 0 auto;
}
nav {
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 48px 0 ;
}
nav a {
    margin-bottom: 40px;
    line-height: 200%;
    color: #1b4baf;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    flex:1;
    border: 1px solid #1b4baf;
    border-radius: 2px;
    width:80%;
}
nav a:hover {
    border: 1px solid #fff;
    color: #fff;
    background-color: #3b5998;
    border: 1px solid transparent;
}
a {
    color: #1b4baf;
    text-decoration: none;
    transition:all .3s ease-in-out;
}
a:hover{
    color: #369339;
    transition:all .3s ease-in-out;
}
img:hover {
    opacity: 0.7 
}
picture{
    margin: 0 auto;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}
picture img{
    display: inline-block;
}
body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.25;
}
table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 24px 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}
table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
}
table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
}
table th, table td {
    padding: .625em;
    text-align: center;
}
table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-weight: bold;
}
@media screen {
    table {
        border: 0;
   }
    table caption {
        font-size: 1.3em;
   }
    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
   }
    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
   }
    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
   }
    table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
   }
    table td:last-child {
        border-bottom: 0;
   }
}
header, main, footer {
    margin: 0 auto;
    width: 100%;
    display: inline-block;
}
main article{
    margin: 24px 24px 0;
    display: block;
    padding-bottom: 28px;
    border-bottom: 1px solid rgba(0,0,0,.12);
}
footer p {
    text-align: center
}
@media print {
    footer {
        display: none 
   }
}